# first remove all file, then, add files.
*

#
!/anharmonicity/


# born_and_fuang:lattice dynamics
!/anharmonicity/born_fuang/
!/anharmonicity/born_fuang/ver_minus1.tex
!/anharmonicity/born_fuang/main/
!/anharmonicity/born_fuang/main/*
!/anharmonicity/born_fuang/table/
!/anharmonicity/born_fuang/table/*
!/anharmonicity/born_fuang/figure/
!/anharmonicity/born_fuang/figure/*


# basics:basics of dielectric properties
!/anharmonicity/basics/
!/anharmonicity/basics/ver_minus1.tex
!/anharmonicity/basics/main/
!/anharmonicity/basics/main/*


!/anharmonicity/tools/
!/anharmonicity/tools/*



!README.md

!/induced_dipole/
!/induced_dipole/*

!/tools/
!/tools/*

!/samples/
!/samples/*


# finally, remove files
.DS_Store
*.~undo-tree~
*.fls
*.fdb_latexmk
*.aux
*.log
*.gz
