# first remove all file, then, add files.

test/pg/bulk_test/*.csv
notebook/c++/*.npy
notebook/c++/*.xyz

src/dieltools.egg-info/
build/
.history/
*/__pycache__/
*/*/__pycache__/

# large file
notebook/c++/traj/gromacs_pg_1ns_dt50fs.xyz